section#contact-info p, .job ul {
  font-size: .8em;
}
.job {
  background-color: #e9e5dc;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 20px 0;
}
section.job:hover {
  background-color: #19abb5;
}
section.job ul li {
  list-style-type: circle;
}
