body {
  margin: 0;
  padding: 0;
}
.wrapper {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}
img {
  border: 2px solid blue;
}

#octo-wrapper img {
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  margin: auto;
}

#hat {
  position: absolute;
  left: 40%;
  top: 125px;

}

#glasses {
  position: absolute;
  left: 45%;
  top: 300px;
}
